node_modules
.next
dev.db
dev.db-journal
dev.db-wal
dev.db-shm
prisma/dev.db
prisma/dev.db-journal
prisma/dev.db-wal
prisma/dev.db-shm
prisma/test*.db*
.env
.env.local
test-results
playwright-report
.git
