# Environment variables / secrets
.env
*.env
.env.*

# Python virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Jupyter
.ipynb_checkpoints/

# Distribution / packaging
build/
dist/
*.egg-info/

# IDE
.vscode/*
!.vscode/settings.json
